<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become full width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
    <svg class="text-secondary w-full h-auto" viewBox="0 0 1200 200" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
      <text 
        x="50%" 
        y="50%" 
        dominant-baseline="middle" 
        text-anchor="middle" 
        font-family="Geist, sans-serif" 
        font-size="120" 
        font-weight="900" 
        fill="currentColor"
        class="text-secondary">
        Xiaoqi.Zhang :)
      </text>
    </svg>
      
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between lg:items-center"
        data-aos="fade-up"
        data-aos-duration="1500">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>Lorem</span>
            <span class="font-bold">Ipsum</span>
            <span class="italic">Dolor</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-semibold"
            >Sit amet</span
          >
        </div>
        <div>
          <ul class="lg:items-center flex justify-between w-full gap-3 relative text-xs">
            <li>
              <a
                href="#_"
                class="hover:text-secondary/80 text-secondary"
                >Lorem</a
              >
            </li><li>
              <a
                href="#_"
                class="hover:text-secondary/80 text-secondary"
                >Ipsum</a
              >
            </li><li>
              <a
                href="#_"
                class="hover:text-secondary/80 text-secondary"
                >Dolor</a
              >
            </li><li>
              <a
                href="#_"
                class="hover:text-secondary/80 text-secondary"
                >Sit</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000">
      </div>
      <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
      <div class="flex w-full">
        <span class="text-xs font-medium text-secondary flex"
          >Lorem ipsum &nbsp;<a
            class="hover:text-black duration-200 font-bold"
            href="#_">Dolor Sit</a
          ></span
        >
        <span class="text-xs font-medium text-secondary flex ml-auto"
          >Amet consectetur &nbsp;<a
            class="hover:text-black text-secondary duration-200 font-bold"
            href="#_">Adipiscing</a
          ></span
        >
      </div>
    </div>
  </div>
</section>
