<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 text-lg">
      <p
        class="text-3xl lg:col-span-3 lg:text-5xl indent-32 lg:indent-32"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        I'm a front-end developer who is currently working on Alibaba Group.
      </p>
      <p
        class="text-lg lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        I am currently available for Enquires. If you need a website or
        redesign something that you already have, do not hesitate to get in
        contact. <a href="mailto:xiaoqi777.zhang@gmail.com">xiaoqi777.zhang@gmail.com</a>
      </p>
      <p
        class="lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        As a front-end developer, I offer a unique and personalized approach to
        design and build websites using React.
      </p>
      <p
        class="text-3xl lg:col-span-3 lg:text-7xl lg:col-start-2 lg:mt-48 indent-32 lg:indent-32"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        Together, we can create a website that leaves a lasting impression on your audience.
      </p>
    </div>
  </div>
</section>
