---
import AboutHeroImage from '../../assets/blog-placeholder-about.jpg';
import Layout from '../../layouts/BlogPost.astro';
import { getTranslation } from '../../i18n/index';

const lang = 'zh';
const t = getTranslation(lang);
---

<Layout
	title={t.about.title}
	description="关于我"
	pubDate={new Date('August 08 2021')}
>
	<p>
		我是一名前端开发工程师，目前在阿里巴巴集团工作。我热爱技术，喜欢探索新的前端框架和工具。
	</p>

	<p>
		在我的职业生涯中，我专注于使用 React 等现代前端技术构建高质量的用户界面。我相信好的设计不仅仅是美观，更重要的是用户体验。
	</p>

	<p>
		除了工作，我也喜欢分享技术知识，写博客，参与开源项目。我相信通过分享和交流，我们可以共同进步。
	</p>
</Layout>

