@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: Geist, sans-serif;
  --color-secondary: #161614;
  --color-primary: #f4f5ef;
}
* {
  font-variant-numeric: tabular-nums;
}
