---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en" class="selection:bg-secondary selection:text-secondary">
  <head>
    <BaseHead />
  </head>

  <body class="bg-primary">
    <slot />
    <Footer />
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script type="text/javascript">
      AOS.init({
        once: true, // animation will happen only once
      });
    </script>
  </body>
</html>
